python_module/.vscode
python_module/lambda/lambda.zip
Paradigm.xcodeproj/xcuserdata
Paradigm.xcodeproj/xcshareddata
PHP/keys/hack.php
Paradigm.xcodeproj/project.xcworkspace/xcuserdata/jeremy.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Paradigm.xcworkspace/xcuserdata
Paradigm.xcworkspace/xcshareddata
Pods/Pods.xccodeproj/xcuserdata
Pods/Pods.xcodeproj/xcshareddata
